*{
  margin: 0;
  padding: 0;
}
body,html{
 width: 100%;
 height: 100%; 
 font-family: AlimamaFangYuanTiVF-Thin;
}

.container{
  width: 100%;
  height: 100%;
}
.wrap1{
  width: 70%;
  min-width:1000px;
  margin: 0 auto;
}

/* 文章主体页面分为左右两个部分, 以page-content作为包裹 */
.page-content{
  width: 92%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.page-content .page-left{
  width: 70%;
  min-width: 750px;
}
.page-content .page-right{
  width: 26%;
  min-width: 300px;
}